# https://beta.docs.qmk.fm/faqs/faq_build
# Resolves 'Missing udev rules for 'stm32' boards. You'll need to use `sudo` in order to flash them.'
#
# stm32duino
SUBSYSTEMS=="usb", ATTRS{idVendor}=="1eaf", ATTRS{idProduct}=="0003", TAG+="uaccess", RUN{builtin}+="uaccess"
# Generic stm32
SUBSYSTEMS=="usb", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="df11", TAG+="uaccess", RUN{builtin}+="uaccess"
